.jumbotron {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: url(images/jumbotronImage_T.jpg) center no-repeat
}

/* make background image "transparent" */


ul {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

li {
  padding: 40px;
  text-align: center;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
  background: url(images/buttonBG.png) center no-repeat;
  background-size:100%;

}

p {
  font-size: 1.3em;
}

.logo-image {
  margin: 0 auto;
  padding-top: 30px;
}

.tagline {
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  font-size: 1.5em;
}

.article {
  margin-right: 0px!important;
  margin-left: auto;
}

.article-image {
  margin-left: 0px!important;
  margin-right: auto;
}



.why-tats {
  justify-content: space-around;
  margin: 0 auto!important;
  padding-top: 40px;
  padding-bottom: 40px;
}

.tats-headline {
  text-align: right;
}

.button-container {
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

.button {
  padding: 10px 15px 10px 15px;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.3em;
}